@import '../variables.module.scss';

$thread-width: 300px;
$thread-margin: 40px;
$double-thread-width: 2 * $thread-width + $thread-margin;
$triple-thread-width: 3 * $thread-width + 2 * $thread-margin;
$two-columns-width: $double-thread-width + 2 * $thread-margin;
$three-columns-width: $triple-thread-width + 2 * $thread-margin;

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $almost-white;
}

.heading {
	top: 0;
	margin-bottom: $thread-margin;
	background-color: $almost-white;

	@media (min-width: $two-columns-width) {
		position: sticky;
	}

	&.withShadow {
		@media (min-width: $two-columns-width) {
			box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
		}
	}

	.fadeAway {
		position: relative;
		display: none;

		@media (min-width: $two-columns-width) {
			display: inherit;
		}

		&::after {
			position: absolute;
			right: 0;
			bottom: -100vh;
			left: 0;
			height: 125px;
			pointer-events: none;
			content: '';
			background: linear-gradient(to top, $white-boy-white 6.25%, rgba(255, 255, 255, 0) 100%);
		}
	}
}

.header {
	composes: header from '../common.module.scss';
	margin: 60px 0 40px;
}

.filter,
.link {
	composes: redOnWhiteLink from '../common.module.scss';
}

$between-filters-margin: 25px;

.filters {
	$min-width: 3 * $button-min-size + 2 * $between-filters-margin;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	@media (min-width: $min-width + 2 * $mobile-margins) {
		min-width: $min-width;
	}

	.filter {
		margin-right: $between-filters-margin;
		font-size: 14px;
		background-color: $almost-white;
		outline: none;

		@media (min-width: $min-width + 2 * $mobile-margins) {
			margin-right: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			padding: 7px 0;
			color: $maroon;
			border-width: 2px;
		}

		&.selected {
			font-weight: 600;
			color: $almost-white;
			background-color: $maroon;
		}
	}
}

.filters,
.form {
	margin-bottom: 30px;
}

.form {
	display: none;

	@media (min-width: $two-columns-width) {
		display: inherit;
	}
}

.submit {
	composes: link from '../common.module.scss';
}

.label {
	font-family: 'PT Sans', sans-serif;
	color: $gray;
}

.inputContainer {
	display: flex;
	flex-direction: row;
	min-width: 420px;
	margin-top: 15px;

	.input {
		flex-grow: 1;
		padding: 0 28px;
		font-size: 16px;
		background-color: initial;
		border-color: $maroon;
		border-style: solid;
		border-width: 1px 0 1px 1px;
		outline: none;
	}

	.submit {
		flex-grow: 0;
		font-size: 14px;
		font-weight: 600;
		color: $almost-white;
		background-color: $maroon;
		border-color: $maroon;
		outline: none;

		&:hover,
		&:focus {
			background-color: $bright-red;
			border-color: $bright-red;
		}
	}
}

.actions,
.threads {
	composes: useMobileMargins from '../common.module.scss';
	display: flex;

	@media (min-width: $two-columns-width) {
		width: $double-thread-width;
		max-width: none;
	}

	@media (min-width: $three-columns-width) {
		width: $triple-thread-width;
	}
}

.actions {
	flex-direction: column;
	justify-content: space-between;

	@media (min-width: $three-columns-width) {
		flex-direction: row;
		align-items: flex-end;
	}
}

.threads {
	flex-wrap: wrap;
	justify-content: space-between;

	.spacer {
		width: $thread-width;
	}
}

.thread {
	$padding: 20px;
	$line-height: 29px;
	$image-height: 190px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding: $padding;
	margin-bottom: $thread-margin;
	background-color: $white-boy-white;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);

	@media (min-width: $two-columns-width) {
		width: $thread-width;

		&.featured {
			flex-direction: row;
			width: $double-thread-width;
			min-height: $image-height + 2 * $line-height + 2 * $padding + 34px;

			.image {
				width: $double-thread-width - $thread-width - $padding;
				object-fit: cover;
			}

			.content {
				width: $thread-width - 2 * $padding;
			}

			.bottomSpacer {
				flex-grow: 1;
			}

			.linksHeader {
				display: initial;
			}
		}
	}

	.image {
		width: 100%;
		min-height: $image-height;
		object-fit: scale-down;
	}

	.content {
		display: flex;
		flex-direction: column;
	}

	.topSpacer {
		flex-grow: 1;
	}

	.title {
		min-height: 2 * $line-height;
		font-family: 'bennet-banner', 'Playfair Display', serif;
		font-size: 24px;
		line-height: $line-height;
	}

	.linksHeader {
		display: none;
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: normal;
		line-height: 21px;
		color: $gray;
		text-transform: uppercase;
	}

	.link {
		font-size: 14px;

		@media (min-width: $two-columns-width) {
			&:only-child {
				margin-left: auto;
			}
		}

		&::after {
			display: inline-block;
			width: 1.5em;
			height: 0.7em;
			margin-left: 5px;
			content: '';
			background-image: url('./arrow.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

		&:hover {
			&::after {
				background-color: $almost-white;
				background-image: none;
				mask-image: url('./arrow.svg');
				mask-position: center;
				mask-repeat: no-repeat;
				mask-size: cover;
			}
		}
	}

	.links {
		display: flex;
		flex-direction: row;
		justify-content: center;

		@media (min-width: $two-columns-width) {
			justify-content: space-between;
		}
	}
}
