.endorsements {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;

	@media (max-width: 800px) {
		align-items: center;
		flex-direction: column;
	}
}

.endorsement {
	height: 50px;
	width: 150px;

	&.buffer {
		background: #f00;
	}

	&.instagram {
		background: #0f0;
	}

	&.facebook {
		background: #00f;
	}
}
