.container {
	background-image: url('./triangle.svg');
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 40%;
}

.header {
	composes: header from '../common.module.scss';
}

.endorsements {
	composes: useMobileMargins from '../common.module.scss';
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;

	@media (min-width: 800px) {
		flex-direction: row;
		align-items: stretch;
	}
}

.endorsement {
	width: 250px;
	height: 90px;
	background-color: #0000ff;
}
