.header {
	composes: header from '../common.module.scss';
	margin-bottom: 70px;
}

.endorsements {
	composes: useMobileMargins from '../common.module.scss';
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-right: -20px;

	@media (min-width: 800px) {
		flex-direction: row;
		align-items: stretch;
	}
}

.endorsement {
	height: 100px;
	margin-bottom: 60px;
	object-fit: contain;

	&.buffer {
		padding: 25px 0;
	}
}
