@import '../variables.module.scss';

.form {
	display: flex;
	flex-direction: row;
	width: 420px;
	max-width: 100%;
}

.input {
	flex-grow: 1;
	max-width: calc(100% - #{$button-min-size});
	padding: 0 28px;
	font-size: 16px;
	background-color: transparent;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	outline: none;
}

.submit {
	composes: link from '../common.module.scss';
	flex-grow: 0;
	min-width: $button-min-size;
	font-weight: 600;
}

.success {
	composes: link from '../common.module.scss';
	width: 100%;
	padding: 9px 0;
	font-size: 14px;
	font-weight: 600;
	color: $almost-white;
	cursor: initial;
	background-color: $bright-red;
	border-color: $bright-red;

	&::before {
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-right: 1em;
		margin-bottom: -0.125em;
		content: '';
		background-image: url('./checkmark.svg');
		background-repeat: no-repeat;
	}
}
