@import '../variables.module.scss';

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: $burgandy;
	background-image: url('./gradient.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-top: 50px;
	padding-right: 100px;
	padding-left: 100px;

	&.sticky {
		position: sticky;
		top: 0;
		background-color: $burgandy;
		box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
	}
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-end;
	padding-right: 100px;
}

.headerContainer {
	composes: box from '../common.module.scss';
	border-color: $white;
	border-style: solid;
	border-bottom: 0;

	.header {
		font-family: 'bennet-banner';
		font-size: 42px;
		font-weight: bold;
		color: $white;
	}
}

.cta,
.link {
	font-size: 14px;
	color: $white;
}

.cta {
	composes: link from '../common.module.scss';
	font-weight: 600;
	background-color: $orange;
	border-color: $orange;
}

.link {
	composes: link from '../common.module.scss';
	margin-top: 15px;
	border-color: $white;
}

.logo {
	width: 280px;
	height: 26px;
	background-color: #0000ff;
}

.spacer {
	flex-grow: 1;
}
