@import '../variables.module.scss';

.hero {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $burgandy;
	background-image: url('./gradient.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 50px;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.navigation,
.links {
	composes: useMobileMargins from '../common.module.scss';

	@media (min-width: $mobile-content-threshold + 2 * $hero-max-margins) {
		width: auto;
		margin: 0 $hero-max-margins;
	}
}

.headerContainer {
	composes: box from '../common.module.scss';
	border-color: $white;
	border-style: solid;
	border-bottom: 0;

	.header {
		font-family: 'bennet-banner', 'Playfair Display', serif;
		font-size: 42px;
		font-weight: bold;
		color: $white;
	}
}

.cta,
.link {
	font-size: 14px;
	color: $white;
}

.cta {
	composes: link from '../common.module.scss';
	font-weight: 600;
	background-color: $orange;
	border-color: $orange;
}

.link {
	composes: link from '../common.module.scss';
	margin-top: 15px;
	border-color: $white;
}

.logo {
	width: 280px;
	height: 26px;
	background-color: #0000ff;
}

.spacer {
	flex-grow: 1;
}
