@import './variables.module.scss';

.link {
	font-family: 'IBM Plex Mono';
	text-align: center;
	text-transform: uppercase;
	border-style: solid;
	border-width: 1px;
}

.box {
	$width: 650px;
	$margins: 100px;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	justify-content: center;
	padding: 50px;
	margin: 0 $mobile-margins;
	border-width: 2px;

	@media (min-width: $width + 2 * $mobile-margins) {
		max-width: $width;
		margin: 0 auto;
	}

	@media (min-width: $width + 2 * $margins) {
		margin: 0 $margins;
	}
}

.header {
	font-family: 'bennet-banner';
	font-size: 45px;
	color: $burgandy;
	text-align: center;
	letter-spacing: 0.035em;
}
