/* stylelint-disable selector-max-type */
/* stylelint-disable selector-max-universal */
@import-normalize;

@import '~typeface-ibm-plex-mono';

@import '~typeface-pt-sans';

*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

body {
	color: #1d1b1b;
}
