@import '../variables.module.scss';

.container {
}

.headerContainer {
	composes: box from '../common.module.scss';
	border-color: #ba1f33;
	border-style: dashed;
	border-top: 0;

	.header {
		font-family: 'PT Sans';
		font-size: 24px;
		font-style: normal;
		font-weight: normal;
	}
}

$offeringWidth: 400px;
$offeringMargins: 30px;

.offerings {
	display: flex;
	align-items: stretch;
	justify-content: center;

	@media (max-width: calc(2 * #{$offeringWidth} + 4 * #{$offeringMargins})) {
		flex-direction: column;

		.offering {
			width: auto;
			margin: 0 $mobile-margins;
		}
	}
}

.cta {
	composes: link from '../common.module.scss';
}

.offering {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: $offeringWidth;
	padding: 50px 70px;
	margin: 0 $offeringMargins;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);

	.subHeading {
		font-family: 'PT Sans';
		font-size: 13px;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 0.05em;

		&::before {
			display: inline-block;
			width: 1em;
			height: 1em;
			margin-right: 2px;
			content: ' ';
			background-image: url('./line.png');
			background-repeat: no-repeat;
		}
	}

	.heading {
		font-family: 'bennet-banner';
		font-size: 26px;
		color: #ff4b3e;
		text-transform: capitalize;
	}

	.paragraph {
		margin-bottom: 10px;
		font-family: 'PT Sans';
		font-size: 16px;
		font-style: normal;
		font-weight: normal;
		color: #828282;
	}

	.cta {
		align-self: center;
		font-size: 15px;
		color: $burgandy;
		border: 1px solid $burgandy;
	}
}

.spacer {
	flex-grow: 1;
}
