@import '../variables.module.scss';

.container {
	background-image: url('./circle.png');
	background-repeat: no-repeat;
	background-position: right 34%;
	background-size: 410px;
}

.header {
	composes: boxContents from '../common.module.scss';
}

.headerContainer {
	composes: box from '../common.module.scss';
	padding-top: 120px;
	padding-bottom: 120px;
	margin-bottom: 100px;
	border-color: $maroon;
	border-style: dashed;
	border-top: 0;

	.header {
		font-family: $pt-sans;
		font-size: 24px;
		font-style: normal;
		font-weight: normal;
		line-height: 35px;
	}
}

$offering-width: 500px;
$offering-min-padding: 20px;
$offering-max-padding: 70px;
$offering-margins: 100px;
$between-paddings: $offering-max-padding - $offering-min-padding;
$column-start-growing-width: $offering-width + 2 * $mobile-margins - 2 * $between-paddings;
$row-width: 2 * $offering-width + 3 * $mobile-margins - 4 * $between-paddings;
$row-margins-start-growing-width: 2 * $offering-width + 3 * $mobile-margins;
$row-margins-stop-growing-width: 2 * $offering-width + 3 * $offering-margins;

.cta {
	composes: redOnWhiteLink from '../common.module.scss';
}

.offering {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	max-width: $offering-width;
	padding: 50px $offering-min-padding;
	margin-right: auto;
	margin-bottom: 110px;
	margin-left: auto;
	background-color: $white-boy-white;
	box-shadow: $box-shadow;

	@media (min-width: $row-width) {
		margin-right: $mobile-margins;
		margin-left: 0;

		&:last-child {
			margin-right: 0;
		}
	}

	@media (min-width: $row-margins-start-growing-width) {
		margin-right: 0;
	}

	@media (min-width: $row-margins-stop-growing-width) {
		margin-right: $offering-margins;
	}

	.subHeading,
	.heading,
	.paragraph,
	.cta {
		@media (min-width: $column-start-growing-width) {
			width: 100%;
			max-width: $offering-width - 2 * $offering-max-padding;
			margin: 0 auto;
		}
	}

	.subHeading {
		margin-bottom: 5px;
		font-family: $pt-sans;
		font-size: 13px;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 0.05em;

		&::before {
			position: relative;
			display: inline-block;
			width: 1em;
			height: 1em;
			margin-right: 4px;
			margin-bottom: -1px;
			content: ' ';
			background-image: url('./line.svg');
			background-repeat: no-repeat;
			background-size: 82%;
		}
	}

	.heading {
		margin-bottom: 10px;
		font-family: $bennet-banner;
		font-size: 26px;
		color: $blood-orange;
		text-transform: capitalize;
	}

	.paragraph {
		margin-bottom: 24px;
		font-family: $pt-sans;
		font-size: 16px;
		font-style: normal;
		font-weight: normal;
		line-height: 24px;
		color: $gray;
	}

	.spacer {
		flex-grow: 1;
		min-height: 15px;
	}

	.cta {
		align-self: center;
		width: 275px;
		padding: 15px 0;
		font-size: 15px;
	}
}

.offerings {
	composes: useMobileMargins from '../common.module.scss';
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;

	@media (min-width: $row-width) {
		flex-direction: row;
		width: auto;
		margin: 0 $mobile-margins;
	}

	@media (min-width: $row-margins-start-growing-width) {
		justify-content: space-evenly;
		margin: 0;
	}

	@media (min-width: $row-margins-stop-growing-width) {
		justify-content: center;
		margin: 0 auto;
	}
}
